<h1>awnser from coach</h1>
<%
if @question == "I'm going to work"
  awnser = "Good!"
else
  awnser = "That's a stupid question, go to work!"
end
%>
<%= awnser%>

<%= link_to "<--go back", root_path %>
