<h1>ask question to coach</h1>
<form action="awnser" method="get">
  <label for="question">Question: </label> <input type="text" name="question" id="question">
  <input type="submit" value="submit"/>
</form>
